.app_purple_theme {
  --bg-color: #EEE5FF;
  --inverted-bg-color: #604695;
  --primary-color: #36008c;
  --secondary-color: #916dd5;
  --inverted-primary-color: #EEE5FF;
  --inverted-secondary-color: #EEE5FF;

  --skeleton-color: #cccce0;
  --skeleton-shadow: #afafc0;

  --code-bg: #b0a6c2
}
