.app_purple_theme {
  --bg-color: #EEE5FF;
  --inverted-bg-color: #604695;
  --primary-color: #15003e;
  --secondary-color: #EEE5FF;
  --inverted-primary-color: #EEE5FF;
  --inverted-secondary-color: #EEE5FF;
}
